{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Pedidos Pendientes</h2>

    <!-- Formulario de Búsqueda -->
    <form method="get" class="mb-4">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="q" class="form-control" placeholder="Buscar por folio, factura o cliente"
                    value="{{ search_query }}">
            </div>
            <div class="col-md-3">
                <input type="date" name="fecha_inicio" class="form-control" value="{{ fecha_inicio }}"
                    placeholder="Desde">
            </div>
            <div class="col-md-3">
                <input type="date" name="fecha_fin" class="form-control" value="{{ fecha_fin }}" placeholder="Hasta">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Buscar</button>
    </form>

    <!-- Listado de Facturas -->
    <div class="list-group">
        {% for factura in facturas %}
        <a href="{% url 'detalle_factura' factura.id %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">pedido con Folio {{ factura.folio }}</h5>
                <small>{{ factura.fecha_creacion|date:"d/m/Y" }}</small>
            </div>
            <p class="mb-1">{{ factura.cliente_nombre }}</p>
            <small>
                {{ factura.productos_completos }} de {{ factura.productos.count }} productos completados
            </small>
        </a>
        {% empty %}
        <div class="alert alert-info">No se encontraron facturas</div>
        {% endfor %}
    </div>
</div>
{% endblock %}