{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="cambiar-email-container">
  <div class="cambiar-email-card">
    <h1 class="cambiar-email-title">Cambiar Correo Electrónico</h1>

    <form method="post" class="cambiar-email-form">
      {% csrf_token %}
      <div class="form-group">
        {{ form.new_email.label_tag }}
        {{ form.new_email }}
      </div>
      <button type="submit" class="btn cambiar-email-btn">Cambiar Correo</button>
    </form>

    <!-- Mostrar mensajes de retroalimentación -->
    {% if messages %}
      <ul class="messages cambiar-email-messages">
        {% for message in messages %}
          <li class="message {{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}