{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<link rel="preload" href="{% static 'css/styles-detail.css' %}" as="style" onload="this.rel='stylesheet'">
<link rel="stylesheet" href="{% static 'css/styles-detail.css' %}">

<h1>Detalle del Pedido</h1>

<h2>Información del Pedido</h2>
<p><strong>Cliente:</strong> {{ pedido.nombre_cliente }}</p>
<p><strong>Contacto:</strong> {{ pedido.nombre_contacto }}</p>
<p><strong>Teléfono:</strong> {{ pedido.telefono }}</p>
<p><strong>Dirección:</strong> {{ pedido.calle }} , {{ pedido.colonia }}, {{ pedido.municipio }}, {{ pedido.estado }} - CP {{ pedido.codigo_postal }}</p>
<p><strong>Estatus:</strong> {{ pedido.get_estatus_display }}</p>
<p><strong>Fecha de Creación:</strong> {{ pedido.fecha_creacion }}</p>
<p><strong>Tipo pedido: </strong>
    {% if pedido.lista_items == 1 %}
        Oro
    {% elif pedido.lista_items == 2 %}
        Diamante
    {% elif pedido.lista_items == 3 %}
        Mayoreo
    {% else %}
        Desconocido
    {% endif %}
</p>

<h2>Productos del Pedido</h2>
<table border="1" class="productos-tabla">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles %}
        <tr>
            <td>{{ detalle.producto.nombre_producto }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>
                {% if detalle.pedido.lista_items == 1 %}
                    ${{ detalle.producto.precio_1 }}
                {% elif detalle.pedido.lista_items == 2 %}
                    ${{ detalle.producto.precio_2 }}
                {% elif detalle.pedido.lista_items == 3 %}
                    ${{ detalle.producto.precio_3 }}
                {% endif %}
            </td>
            <td>${{ detalle.calcular_subtotal|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <h2>Total del Pedido: ${{ total|floatformat:2 }}</h3>

<a href="{% url 'ver_estatus_pedido' %}" class="btn-regresar">Regresar</a>
{% endblock %}