{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<H1>Directorios</H1>

{% if is_sistemas %}
<a href="{%url 'sistemas_dir'%}">SISTEMAS</a><br>
<a href="{%url 'administracion_dir'%}">ADMINISTRACION</a><br>
<a href="{%url 'asistente_dir'%}">ASISTENTE</a><br>
<a href="{%url 'cobranza_dir'%}">COBRANZA</a><br>
<a href="{%url 'compras_dir'%}">COMPRAS</a><br>
<a href="{%url 'produccion_dir'%}">PRODUCCION</a><br>
<a href="{%url 'ventas_dir'%}">VENTAS</a><br>
<a href="{%url 'rh_dir'%}">RH</a><br>
<a href="{%url 'formulaciones_dir'%}">FORMULACIONES</a><br>
<a href="{%url 'imagen_dir'%}">IMAGEN</a><br>
<a href="{%url 'community_dir'%}">COMMUNITY</a><br>
<a href="{%url 'recepcion_dir'%}">RECEPCION</a><br>
<a href="{%url 'calidad_dir'%}">CALIDAD</a><br>
<a href="{%url 'proyectos_dir'%}">PROYECTOS</a><br>
<a href="{%url 'ceo_dir'%}">CEO</a><br>
{% elif is_asistente %}
<a href="{%url 'asistente_dir'%}">ASISTENTE</a>
{% elif is_administracion %}
<a href="{%url 'administracion_dir'%}">ADMINISTRACION</a>
<a href="{%url 'cobranza_dir'%}">COBRANZA</a><br>
<a href="{%url 'compras_dir'%}">COMPRAS</a><br>
{% elif is_cobranza %}
<a href="{%url 'cobranza_dir'%}">COBRANZA</a>
{% elif is_compras %}
<a href="{%url 'compras_dir'%}">COMPRAS</a>
{% elif is_produccion %}
<a href="{%url 'produccion_dir'%}">PRODUCCION</a>
{% elif is_ventas %}
<a href="{%url 'ventas_dir'%}">VENTAS</a>
{% elif is_rh %}
<a href="{%url 'rh_dir'%}">RH</a>
{% elif is_imagen %}
<a href="{%url 'imagen_dir'%}">IMAGEN</a>
<a href="{%url 'community_dir'%}">COMMUNITY</a><br>
{% elif is_community %}
<a href="{%url 'community_dir'%}">COMMUNITY</a>
<a href="{%url 'imagen_dir'%}">IMAGEN</a>
{% elif is_recepcion %}
<a href="{%url 'recepcion_dir'%}">RECEPCION</a>
{% elif is_calidad %}
<a href="{%url 'calidad_dir'%}">CALIDAD</a>
{% elif is_proyectos %}
<a href="{%url 'proyectos_dir'%}">PROYECTOS</a>
{% elif is_formulaciones %}
<a href="{%url 'formulaciones_dir'%}">FORMULACIONES</a>

{% elif is_ceo %}
<a href="{%url 'sistemas_dir'%}">SISTEMAS</a><br>
<a href="{%url 'administracion_dir'%}">ADMINISTRACION</a><br>
<a href="{%url 'asistente_dir'%}">ASISTENTE</a><br>
<a href="{%url 'cobranza_dir'%}">COBRANZA</a><br>
<a href="{%url 'compras_dir'%}">COMPRAS</a><br>
<a href="{%url 'produccion_dir'%}">PRODUCCION</a><br>
<a href="{%url 'ventas_dir'%}">VENTAS</a><br>
<a href="{%url 'rh_dir'%}">RH</a><br>
<a href="{%url 'formulaciones_dir'%}">FORMULACIONES</a><br>
<a href="{%url 'imagen_dir'%}">IMAGEN</a><br>
<a href="{%url 'community_dir'%}">COMMUNITY</a><br>
<a href="{%url 'recepcion_dir'%}">RECEPCION</a><br>
<a href="{%url 'calidad_dir'%}">CALIDAD</a><br>
<a href="{%url 'proyectos_dir'%}">PROYECTOS</a><br>
<a href="{%url 'ceo_dir'%}">CEO</a><br>

{% else %}

{% endif %}
<a href="{%url 'blb_dir'%}">BLB</a>
{% endblock %}