{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<link rel="preload" href="{% static 'css/style-directory.css' %}" as="style" onload="this.rel='stylesheet'">
<link rel="stylesheet" type="text/css" href="{% static 'css/style-directory.css' %}">
<H1>Directorios</H1>
{% if is_sistemas %}
<h1>Bienvenido Administrador del Sistemas</h1>
{% else %}
<h1>Bienvendio a los directorios</h1>
{% endif %}
<div class="folder-container">

    {% if is_sistemas %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'sistemas_dir' %}">SISTEMAS</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'administracion_dir' %}">ADMINISTRACION</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'asistente_dir' %}">ASISTENTE</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'cobranza_dir' %}">COBRANZA</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'compras_dir' %}">COMPRAS</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'produccion_dir' %}">PRODUCCION</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'ventas_dir' %}">VENTAS</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'rh_dir' %}">RH</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'formulaciones_dir' %}">FORMULACIONES</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'imagen_dir' %}">IMAGEN</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'community_dir' %}">COMMUNITY</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'recepcion_dir' %}">RECEPCION</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'calidad_dir' %}">CALIDAD</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'proyectos_dir' %}">PROYECTOS</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'ceo_dir' %}">CEO</a>
    </div>

    {% elif is_asistente %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'asistente_dir' %}">ASISTENTE</a>
    </div>
    {% elif is_administracion %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'administracion_dir' %}">ADMINISTRACION</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'cobranza_dir' %}">COBRANZA</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'compras_dir' %}">COMPRAS</a>
    </div>
    {% elif is_cobranza %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'cobranza_dir' %}">COBRANZA</a>
    </div>
    {% elif is_compras %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'compras_dir' %}">COMPRAS</a>
    </div>
    {% elif is_produccion %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'produccion_dir' %}">PRODUCCION</a>
    </div>
    {% elif is_ventas %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'ventas_dir' %}">VENTAS</a>
    </div>
    {% elif is_rh %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'rh_dir' %}">RH</a>
    </div>
    {% elif is_imagen %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'imagen_dir' %}">IMAGEN</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'community_dir' %}">COMMUNITY</a>
    </div>
    {% elif is_community %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'community_dir' %}">COMMUNITY</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'imagen_dir' %}">IMAGEN</a>
    </div>
    {% elif is_recepcion %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'recepcion_dir' %}">RECEPCION</a>
    </div>
    {% elif is_calidad %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'calidad_dir' %}">CALIDAD</a>
    </div>
    {% elif is_proyectos %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'proyectos_dir' %}">PROYECTOS</a>
    </div>
    {% elif is_formulaciones %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'formulaciones_dir' %}">FORMULACIONES</a>
    </div>

    {% elif is_ceo %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'sistemas_dir' %}">SISTEMAS</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'administracion_dir' %}">ADMINISTRACION</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'asistente_dir' %}">ASISTENTE</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'cobranza_dir' %}">COBRANZA</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'compras_dir' %}">COMPRAS</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'produccion_dir' %}">PRODUCCION</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'ventas_dir' %}">VENTAS</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'rh_dir' %}">RH</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'formulaciones_dir' %}">FORMULACIONES</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'imagen_dir' %}">IMAGEN</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'community_dir' %}">COMMUNITY</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'recepcion_dir' %}">RECEPCION</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'calidad_dir' %}">CALIDAD</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'proyectos_dir' %}">PROYECTOS</a>
    </div>
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'ceo_dir' %}">CEO</a>
    </div>

    {% else %}

    {% endif %}
    <div class="folder">
        <div class="folder-icon">📁</div>
        <a class="folder-text" href="{% url 'blb_dir' %}">BLB</a>
    </div>
</div>
{% endblock %}