{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<link rel="preload" href="{% static 'css/style-directory.css' %}" as="style" onload="this.rel='stylesheet'">
<link rel="stylesheet" type="text/css" href="{% static 'css/style-directory.css' %}">
<h1>Directorios</h1>
    {% if is_sistemas %}
        <h1>Bienvenido Administrador del Sistema</h1>
    {% else %}
        <h1>Bienvenido a los directorios</h1>
    {% endif %}

    <div class="folder-container">
        {% for dir in directorios %}
            <div class="folder">
                <div class="folder-icon">📁</div>
                <a class="folder-text" href="{% url dir.url %}">{{ dir.nombre }}</a>
            </div>
        {% endfor %}
        <div class="folder">
            <div class="folder-icon">📁</div>
            <a class="folder-text" href="{% url 'blb_dir' %}">BLB</a>
        </div>
    </div>
{% endblock %}