{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="perfil-empleado-container">
  <div class="perfil-empleado-card">
    <h1 class="tittle-perfil-empleado">Perfil de {{ user.username }}</h1>
    <div class="perfil-empleado-info">
      <p class="email-perfil-empleado"><span class="label">Email:</span> {{ user.email }}</p>
      <p class="nombre-perfil-empleado"><span class="label">Nombre:</span> {{ user.first_name }}</p>
      <p class="apellido"><span class="label">Apellido:</span> {{ user.last_name }}</p>
      <p class="login-perfil-empleado"><span class="label">Último inicio de sesión:</span> {{ user.last_login }}</p>
    </div>
    <div class="perfil-empleado-actions">
      <a href="{% url 'cambiar_contrasenia' %}" class="cambiar_contrasenia-perfil-empleado btn">Cambiar Contraseña</a>
      <a href="{% url 'cambiar_email' %}" class="cambiar_correo-perfil-empleado btn">Cambiar Correo Electrónico</a>
    </div>
  </div>

  <!-- Mostrar mensajes de retroalimentación -->
  {% if messages %}
    <ul class="messages-perfil-empleado">
      {% for message in messages %}
        <li class="mensajes-perfil-empleado {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}