{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<h1 class="title-section">Bienvenido al Dashboard</h1>
<h3 class="name-section">Nombre: {{ user.get_full_name }}</h3>
<h3 class="name-section">Correo: {{ user.email }}</h3>

<div class="dashboard-grid">

    {% if es_vendedor or not it or it %}
    <section class="dashboard-module">
        <h3 class="module-title">Inicio</h3>
        <ul class="options-list">
            {% if es_vendedor %}
                <li><a href="{% url 'realizar_pedido' %}" class="action-link">🛒 Realizar pedido</a></li>
                <li><a href="{% url 'ver_estatus_pedido' %}" class="action-link">📦 Ver estatus de pedido</a></li>
                <li><a href="{% url 'realizar_ticket' %}" class="action-link">🎫 Levantar ticket</a></li>
                <li><a href="{% url 'ver_estatus_ticket' %}" class="action-link">📍 Estatus tickets</a></li>  
            {% elif not it %}
                <li><a href="{% url 'realizar_ticket' %}" class="action-link">🎫 Levantar un ticket</a></li>
                <li><a href="{% url 'ver_estatus_ticket' %}" class="action-link">📍 Estatus del ticket</a></li>   
            {% elif it %}
                <li><a href="{% url 'cerrar_ticket' %}" class="action-link">🛠️ Atender ticket</a></li>
                <li><a href="{% url 'ver_estatus_ticket' %}" class="action-link">📂 Extra</a></li>
            {% else %}
                <p class="warning">⚠️ No tienes permisos. Contacta con sistemas@blb.mx</p>
            {% endif %}
        </ul>
    </section>
    {% endif %}

    {% if es_facturacion or es_almacen or it %}
    <section class="dashboard-module">
        <h3 class="module-title">Pedidos</h3>
        <ul class="options-list">
            {% if it or es_facturacion or es_ADMIN %}
                <li><a href="{% url 'buscar_por_folio' %}" class="action-link">📋 Registrar Pedido</a></li>
                <li><a href="{% url 'facturacion_final' %}" class="action-link">✅ Pedidos Completos</a></li>
                <li><a href="{% url 'todas_facturas' %}" class="action-link">✅ Todos los Pedidos</a></li>
            {% elif es_almacen %}
                <li><a href="{% url 'pedidos_almacen'%}" class="action-link">📦 Pedidos Pendientes</a></li>
                <li><a href="{% url 'todas_facturas' %}" class="action-link">✅ Todos los Pedidos</a></li>
            {% endif %}
        </ul>
    </section>
    {% endif %}

    {% if it or es_facturacion or es_almacen %}
    <section class="dashboard-module">
        <h3 class="module-title">Backorders</h3>
        <ul class="options-list">
            {% if it or es_facturacion %}
                <li><a href="{% url 'backorders' %}" class="action-link">📥 Registrar Backorder</a></li>
                <li><a href="{% url 'guardar_backorder' %}" class="action-link">✅ Backorders Completos</a></li>
                <li><a href="{% url 'todos_backorders' %}" class="action-link">✅ Todos los Backorders</a></li>  
            {% elif es_almacen %}
                <li><a href="{% url 'backorders_detalle'%}" class="action-link">📦 Backorders Pendientes</a></li>
                <li><a href="{% url 'todos_backorders' %}" class="action-link">✅ Todos los Backorders</a></li>  
            {% endif %}
        </ul>
    </section>
    {% endif %}

    {% if it %}
    <section class="dashboard-module">
        <h3 class="module-title">Admin</h3>
        <ul class="options-list">
            <li><a href="{% url 'backorders' %}" class="action-link">Registrar Backorder</a></li>
            <li><a href="{% url 'guardar_backorder' %}" class="action-link">Backorders Completos</a></li> 
            <li><a href="{% url 'backorders_detalle'%}" class="action-link">Backorders Pendientes</a></li>
            <li><a href="{% url 'buscar_por_folio' %}" class="action-link">Registrar Pedido</a></li>
            <li><a href="{% url 'facturacion_final' %}" class="action-link">Pedidos Completos</a></li> 
            <li><a href="{% url 'pedidos_almacen'%}" class="action-link">Pedidos Pendientes</a></li>
            <li><a href="{% url 'realizar_pedido' %}" class="action-link">Realizar pedido</a></li>
            <li><a href="{% url 'ver_estatus_pedido' %}" class="action-link">Ver estatus de pedido</a></li>
        </ul>
    </section>
    {% endif %}

</div>
{% endblock %}
