{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<link rel="preload" href="{% static 'css/style-it.css' %}" as="style" onload="this.rel='stylesheet'">
<link rel="stylesheet" href="{% static 'css/style-it.css' %}">
<h1 class="title-section-it">Bienvenido personal IT</h1>
<h3 class="name-section-it">Nombre: {{ user.get_full_name }}</h3>

<form method="GET" class="filter-form-it">
    <!-- Campo para buscar por número de ticket -->

    <div class="form-group-it">
        <label for="ticket">Número de Ticket:</label>
        <input type="text" id="ticket" name="ticket" value="{{ numero_ticket_filtro }}"
            placeholder="Buscar por número de ticket">
    </div>

    <!-- Campo para filtrar por fecha de creación -->
    <div class="form-group-it">
        <label for="fecha_creacion">Fecha de Creación (YYYY-MM-DD)</label>
        <input type="date" id="fecha_creacion" name="fecha_creacion" value="{{ fecha_filtro }}">
    </div>

    <!-- Campo para filtrar por estatus -->
    <div class="form-group-it">
        <label for="estado">Estatus</label>
        <select id="estado" name="estado">
            <option value="">Seleccionar estatus</option>
            <option value="abierto" {% if estado_filtro == 'abierto' %}selected{% endif %}>abierto</option>
            <option value="en progreso" {% if estado_filtro == 'en progreso' %}selected{% endif %}>en progreso</option>
            <option value="resuelto" {% if estado_filtro == 'resuelto' %}selected{% endif %}>resuelto</option>
            <option value="cerrado" {% if estado_filtro == 'cerrado' %}selected{% endif %}>cerrado</option>
        </select>
    </div>

    <!-- Botón para enviar el formulario -->
    <button type="submit" class="filter-btn-it">Buscar</button>
</form>

{% if tickets %}
<p class="count-results-it">Resultados encontrados {{ contador }}</p>
    <ul class="ticket-list-it">
        {% for ticket in tickets %}
            <li class="ticket-item-it">
                <strong>Ticket de {{ ticket.nombre_usuario }}</strong><br>
                <strong>Nivel de prioridad:</strong> {{ ticket.nivel_prioridad }}<br>
                <strong>Número de Ticket:</strong> {{ ticket.numero_ticket }}<br>
                <strong>Categoría:</strong> {{ ticket.get_categoria_display }}<br>
                <strong>Descripción:</strong> {{ ticket.descripcion }}<br>
                <strong>Fecha de Creación:</strong> {{ ticket.fecha_creacion }}<br>
                <strong>Estado:</strong> {{ ticket.get_estado_display }}<br>
                <a class="btn-detalle-it" href="{% url 'detalle_ticket' ticket.id %}">Ver Detalle</a>
            </li>
            <hr class="ticket-divider-it">
        {% endfor %}
    </ul>
{% else %}
    <p class="no-tickets-it">No hay tickets realizados.</p>
{% endif %}

<div class="pagination-it">
    <span class="step-links-it">
        {% if tickets.has_previous %}
            <a class="btn-pagination-it" href="?page=1">Primera</a>
            <a class="btn-pagination-it" href="?page={{ tickets.previous_page_number }}">Anterior</a>
        {% endif %}
        
        <span>Página {{ tickets.number }} de {{ tickets.paginator.num_pages }}</span>
        
        {% if tickets.has_next %}
            <a class="btn-pagination-it" href="?page={{ tickets.next_page_number }}">Siguiente</a>
            <a class="btn-pagination-it" href="?page={{ tickets.paginator.num_pages }}">Última</a>
        {% endif %}
    </span>
</div>

{% endblock %}